# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\astaikopoulos\OneDrive - National College of Ireland\Modules\Distributed System - H8DSY\2020-21\week-3\gprc-python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
